name: CI-Windows
on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:
    inputs:
      type:
        type: choice
        default: draft
        options:
        - build
        - draft
        - release
jobs:
  read-repo-files:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup Outputs
      id: out
      run: |
        if [ -f mcpelauncher.commit ]; then
          echo "mcpelauncher-ref=$(cat mcpelauncher.commit)" >> $GITHUB_OUTPUT
        else
          echo "mcpelauncher-ref=ng" >> $GITHUB_OUTPUT
        fi
    outputs:
      mcpelauncher-ref: ${{ steps.out.outputs.mcpelauncher-ref }}

  ci:
    needs: read-repo-files
    if: (!cancelled())
    uses: ./.github/workflows/main.yml
    with:
      publish: ${{ github.event_name == 'push' || (github.event_name == 'workflow_dispatch' && inputs.type == 'release') }}
      mcpelauncher-ref: ${{ needs.read-repo-files.outputs.mcpelauncher-ref }}
    secrets: inherit